// Colors
$color-black: #1a1a1a;
$color-white: #fff;
$color-whiteblue: #f5f8fc;
$color-whiteblue-dark: #eef4f8;
$color-whiteblue-dark2: #b6cce9;
$color-grey: #5a5a5a;
$color-grey-light: #aeaeae;
$color-grey-light2: #d6d6d6;

$color-purple: #6f45a0;
$color-purple-dark: #533779;
$color-purple-darkest: #443060;
$color-blue: #2596ff;

$color-red: #da4445;
$color-white-red: #ffd7d1;

// Font family
$font-family: 'Raleway', Arial, sans-serif;

// Font weights
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;