// Colors
$color-black: #1a1a1a;
$color-white: #fff;
$color-whiteblue: #f5f8fc;
$color-whiteblue-dark: #eef4f8;
$color-whiteblue-dark2: #b6cce9;
$color-grey: #5a5a5a;
$color-grey-light: #e2dcdc;
$color-grey-light2: #d6d6d6;

$color-blue: rgb(85, 191, 223);
$color-blue-light: #9CD4E0;
$color-blue-dark: #4799C2;
$color-blue-light2: rgb(176, 220, 241);


$color-red: #da4445;
$color-white-red: #ffd7d1;

// Font family
$font-family: 'Raleway', Arial, sans-serif;

// Font weights
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;