@import '../../styles/variables';

// Modal
.modal {
  background-color: $color-white;
  padding: 30px 25px;
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 90%;
  max-width: 450px;

  &__wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: .25s opacity ease-in-out, .25s visibility ease-in-out;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__header {
    text-align: center;
  }

  &__heading {
    font-weight: $font-weight-bold;
    font-size: 25px;
    margin-bottom: 10px;
  }

  &__close {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 6px;
    position: absolute;
    background: none;
    padding: 0;
    border: 0;
    top: 0;
    right: 0;

    &:hover,
    &:focus {
      background-color: $color-whiteblue;
    }
  }

  &__icon {
    width: 22px;
  }

  &__desc {
    font-size: 13px;
    color: $color-grey;
    margin-bottom: 0;
  }

  &__content {
    padding-top: 25px;
  }

  &__login {
    font-weight: $font-weight-bold;
    font-size: 18px;
    color: $color-black;
    text-align: center;
    margin-bottom: 25px;
    display: block;
  }

  &__btn {
    border-radius: 20px;
    padding: 10px 15px;
    display: block;
    margin: 10px auto 0 auto;
  }

  &__footer {
    text-align: center;
    padding-top: 25px;
  }
}