@import '../../styles/variables';

@media (min-height: 800px) {
  .chatrooms {
    animation: show .5s;

    &__wrapper {
      top: 50% !important;
      transform: translate(-50%, -50%) !important;
    }
  }
}