@import '../../styles/variables';

// Map toggler
.toggler {
  width: 40px;
  height: 14px;
  margin: 0 10px;
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    cursor: pointer;
  }

  &__checkbox {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .toggler__lever::before {
      background-color: $color-blue;
      transform: translateX(20px);
    }
  }

  &__lever {
    position: absolute;
    cursor: pointer;
    background-color: $color-whiteblue-dark;
    border-radius: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;

    &::before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      border-radius: 50%;
      left: 0;
      top: -3px;
      background-color: $color-purple;
      transition: .4s;
    }
  }

  &__icon {
    height: 20px;
  }
}
