@import '../../styles/variables';

// Message
.message {
  margin-bottom: 15px;
  max-width: 75%;
  display: table;

  &--right {
    margin-left: auto;
  }

  &__user {
    margin-bottom: 10px;
    display: flex;
  }

  &__username {
    font-weight: $font-weight-semibold;
    font-size: 13px;
    margin-right: 15px;

    &--right {
      margin-left: auto;
    }
  }

  &__date {
    font-weight: $font-weight-regular;
    font-size: 12px;
    color: $color-whiteblue-dark2;
  }

  &__text {
    color: $color-grey;
    font-size: 13px;
    line-height: 22px;
    padding: 12px;
    background-color: $color-white;
    border: 1px solid $color-whiteblue-dark;
    border-bottom-width: 2px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: table;

    &--primary {
      color: $color-white;
      background-color: $color-purple;
      border-color: $color-purple;
      margin-left: auto;
    }

    &--secondary {
      color: $color-white;
      background-color: $color-blue;
      border-color: $color-blue;
      margin-left: auto;
    }
  }
}
