@import '../../styles/variables';

// Legend
.legend {
  padding: 15px 25px;
  background-color: $color-white;
  border-bottom: 1px solid $color-whiteblue-dark;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  &__name {
    font-weight: $font-weight-semibold;
    min-width: 46px;
    font-size: 12px;
    color: $color-grey;
    text-align: center;
    display: block;
    flex: 1;
  }

  &__title {
    display: none;
  }
}

// Media queries
@media (min-width: 480px) {
  .legend {
    padding: 15px 45px;

    &__wrapper {
      flex: 0;
    }

    &__title {
      display: block;
    }

    &__name {
      margin-left: 32px;
      flex: 0;
    }

    &__title {
      display: block;
      text-align: left;
      margin-left: 0;
    }
  }
}