@import '../../styles/variables';

.barsort {
    padding-left: 25px;
    background-color: $color-white;
    display: flex;
    align-items: center;

    &__select {
        height: 36px;
        margin-left: 10px;
        padding: 5px 25px;
        font-weight: $font-weight-semibold;
        font-size: 14px;
        color: $color-black;
        background-color: $color-white;
        display: inline-block;
        border: 2px solid $color-whiteblue-dark;
        border-radius: 6px;
        cursor: pointer;
        transition: .25s color ease, .25s background-color ease, .25s border-color ease; 
    }
}