@import '../../styles/variables';

// Maps
.maps {
  &__wrapper {
    width: 100%;
    max-width: 700px;
    padding: 25px;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
  }

  &__input {
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    background-color: $color-grey-light2;
    border: 1px solid $color-grey-light2;
    width: 100%;
  }

  &__btn {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-radius: 50px;
    border-width: 0;
    margin: 0;
  }

  &__location {
    font-size: 14px;
    font-weight: $font-weight-semibold;
    background-color: $color-purple;
    color: $color-white;
    padding: 5px 10px;
    border-radius: 6px;
    position: absolute;
    top: 60px;
    left: 12px;
  }

  // FOR NOW
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

// Media queries
@media (min-width: 600px) {
  .maps {
    &__wrapper {
      display: flex;
      justify-content: center;
    }
    
    &__btn {
      width: auto;
      margin-left: 20px;
    }
  }
}

@media (min-height: 500px) {
  .steps {
    &__wrapper {
      top: 50% !important;
      transform: translate(-50%, -50%) !important;
    }
  }
}