@import '../../styles/variables';

// Button
.btn {
  font-weight: $font-weight-semibold;
  font-size: 13px;
  color: $color-black;
  background-color: $color-white;
  display: inline-block;
  padding: 4px 10px;
  border: 2px solid $color-whiteblue-dark;
  border-radius: 6px;
  cursor: pointer;
  transition: .25s color ease, .25s background-color ease, .25s border-color ease; 

  &:hover,
  &:focus {
    color: $color-black;
    background-color: $color-white;
    border-color: $color-whiteblue-dark;
  }

  &--primary {
    color: $color-white;
    background-color: $color-purple;
    border-color: $color-purple;
  }

  &--secondary {
    color: $color-white;
    background-color: $color-blue;
    border-color: $color-blue;
  }
}