{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "legacyDecotators": true
    },
    "requireConfigFile": true,
    "babelOptions": {
      "configFile": "./babel.config.js"
    }
  },
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:react/recommended",
    "../.eslintrc"
  ],
  "plugins": [],
  "settings": {
    "react": {
      "version": "16.8"
    }
  },
  "rules": {
    "react/prop-types": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/no-unescaped-entities": "off"
  }
}