@import '../../styles/variables';

.bar {
    padding: 15px 25px;
    background-color: $color-white;
    display: flex;
    align-items: center;

    &__search {
        height: 36px;
        padding: 5px 20px;
        font-weight: $font-weight-semibold;
        font-size: 14px;
        color: $color-black;
        background-color: $color-white;
        border: 2px solid $color-whiteblue-dark;
        border-radius: 6px;
        cursor: pointer;
        transition: .25s color ease, .25s background-color ease, .25s border-color ease; 
    }

    &__icon {
        height: 36px;
        background-color: $color-white;
        border: 2px solid $color-whiteblue-dark;
        border-radius: 6px;
        cursor: pointer;
    }
    
    &__icon:active {
        box-shadow: 0 0 2px 1px $color-blue;
    }

    &__error {
        color: $color-red;
        font-weight: $font-weight-semibold;
    }
}