@import '../../styles/variables';

// Loader
.loader {
  padding: 30px 20px;
  border-radius: 6px;
  text-align: center;

  &__wrapper {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }

  &__dot {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: $color-white;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &--dark {
      background: $color-purple;
    }

    &:nth-child(1) {
      left: 6px;
      animation: ellipsis1 0.6s infinite;
    }

    &:nth-child(2) {
      left: 6px;
      animation: ellipsis2 0.6s infinite;
    }

    &:nth-child(3) {
      left: 26px;
      animation: ellipsis2 0.6s infinite;
    }

    &:nth-child(4) {
      left: 45px;
      animation: ellipsis3 0.6s infinite;
    }
  }
  
  &__text {
    font-weight: $font-weight-semibold;
    font-size: 14px;
    color: $color-white;
    display: block;

    &--dark {
      color: $color-black;
    }
  }
}

@keyframes ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

@keyframes ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}