@import '../../../styles/variables';

// Map
.chatrooms-map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 !important;
  }

  &__container {
    color: $color-black;
    background-color: $color-white;
    flex-grow: 1;
    border: 1px solid $color-whiteblue-dark;
    border-bottom-width: 2px;
    position: relative;
    overflow: hidden;
    animation: show .5s;
  }

  &__label {
    font-size: 16px;
    padding: 12px;
    border-radius: 3px;
    background: $color-white;
    box-shadow: 2px 3px 6px rgba(16, 16, 16, 0.2);

    &-title {
      font-size: 16px;
      font-weight: 500;
      color: $color-purple;
    }

    &-content {
      font-size: 13px;
      border-radius: 5px;

      & p {
        margin: 8px 0 0 0;
      }
    }
  }
}

// Media queries
@media (min-width: 768px) {
  .chatrooms-map {
    &__wrapper {
      padding: 25px !important;
    }

    &__container {
      border-radius: 6px;
    }
  }
}